aws_region       = "us-east-1"
environment      = "production"
cluster_name     = "togglemaster-cluster"
vpc_cidr         = "10.0.0.0/16"
db_password      = "ToggleMaster123"

# Defina como true para AWS Academy (LabRole) ou false para Conta Pessoal
use_aws_academy  = false

node_instance_types = ["t3.small"]
desired_nodes       = 2
install_argocd      = true
